.gallery {
    grid-area: gallery;
}

.gallery-wrapper {
    display: grid;
    grid-template-areas:
            'svg-frame text'
            'playbar playbar';
    grid-template-columns: 60% auto;
    grid-template-rows: auto 5rem;
    height: 100%;
}

.gallery-svg-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: svg-frame;
    background-color: white;
    box-shadow: 4px 0 5px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

.gallery-svg-frame svg {
    max-height: calc(100vh - 15rem); /* Calculate like this to avoid issues in certain browsers */
    max-width: 90%;
    height: 90%;
    width: 90%;
    min-height: 90%;
}

.gallery-text-wrapper {
    color:#191169;
    grid-area: text;
    margin: 5%;
}

.gallery-playbar {
    grid-area: playbar;
    background-color: #191169;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
}

.gallery-playbar audio {
    width: 75%;
}

@media only screen and (max-width: 780px) {
    .gallery-wrapper {
        grid-template-areas:
                'svg-frame'
                'playbar'
                'text';
        grid-template-columns: auto;
        grid-template-rows: 20rem 5rem auto;
    }

    .gallery-playbar audio {
        width: 90%;
    }
}

@media only screen and (max-width: 1260px) {
    .gallery-playbar audio {
        width: 90%;
    }
}
