.header {
    display: block;
    background-color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    z-index: 4;
}

.header h1 {
    color:#191169;
    margin-left: 2rem;
}

.sidebar-button {
    display: none;
    font-size: 40px;
    height: 50px;
    width: 50px;
    background-color: #3700fe;
    color: white;
    border-radius: 100%;
    text-align: center;
}

.header .menuButton {
    display: none;
}

@media only screen and (max-width: 780px) {
    .header {
        display: flex;
        align-items: center;
        background-color:white;
        text-align: left;
        padding-left:2rem;
        vertical-align: middle;
        line-height: 3.2rem;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .header .menuButton {
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        right: 1.3rem;
        top:1.3rem;
        width: 2.5rem;
        font-size: 2.5rem;
        height:2.5rem;
        color:#3700fe;
    }

    .sidebar-button {
        display: block;
    }
}