.topbar {
    background-color:white;
    width: 100%;
    border-bottom: 0.25rem solid #3700fe;
}

.image-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-selector div {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 2.5rem;
}

.image-selector button {
    height: 100%;
    font-weight: lighter;
    color:#3700fe;
    font-size: 20px;
    text-decoration: none;
    display:inline-block;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
}

.image-selector button:hover,
.image-selector .selected {
    background-color: #3700fe;
    color:white;
}

.image-selector button:focus {
    outline: none;
}

.mobileOverlay {
    display: none;
}

@media only screen and (max-width: 780px) {
    .topbar {
        grid-area: header !important;
        padding-top:5rem;
        z-index: 3;
        min-height: 12.25rem;
    }

    .image-selector {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .image-selector div {
        padding-top:1rem;
        display: block;
        vertical-align: middle;
        text-align: center;
        line-height: 2.5rem;
        height: 2.5rem;
    }

    .image-selector button {
        height: 2.5rem;
        width:10rem;
        font-weight: lighter;
        color:#3700fe;
        font-size: 20px;
        text-decoration: none;
        display:inline-block;
        padding: 0.5em 1em;
        border: none;
        background-color: transparent;
    }

    .mobileOverlay {
        display:inline-block;
        width: 100%;
        position: fixed;
        min-height: 100vh;
        background-color:rgba(255,255,255,0.8);
        margin-top:4px;
    }
}