.grid-wrapper {
    display: grid;
    grid-template-areas:
            'header header'
            'topbar topbar'
            'sidebar gallery';
    grid-template-columns: 20rem auto ;
    grid-template-rows: 5rem 5rem auto;
    height: 100%;
}

.header {
    grid-area: header;
}

.topbar {
    grid-area: topbar;
}

.gallery {
    grid-area: gallery;
}

@media only screen and (max-width: 780px) {
    .grid-wrapper {
        grid-template-areas:
                'header'
                'gallery';
        grid-template-columns: auto;
        grid-template-rows: 5rem auto;
    }

    .topbar {
        display: none;
    }

    .header {
        grid-area: header;
    }
    
}
