.gallery{
    grid-area: gallery;
    margin:  0 3% 1rem 3%;
}
.gallery-wrapper{
    display: grid;
    grid-template-areas:
            'svg-frame text'
            'svg-frame playbar';
    grid-template-columns: 60% auto;
    grid-template-rows: auto 5rem;
    height: 100%;
}
.gallery-svg-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: svg-frame;
    background-color: #dde;
    width: 100%;
    height: 100%;
}

.gallery-svg-frame svg {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.gallery-text-wrapper{
    grid-area: text;
    margin: 5%;
}

.gallery-playbar{
    grid-area: playbar;
    background-color: #f08080;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    cursor: pointer;
}

.gallery-playbar audio {
    width: 90%;
}

.gallery-playbar:hover{
    background-color: #f1a0a0;
}
@media only screen and (max-width: 780px) {
    .gallery-wrapper{
        grid-template-areas:
                'svg-frame'
                'playbar'
                'text';
        grid-template-columns: 100%;
        grid-template-rows: 20rem 5rem auto;
    }
}