/*
 * Part of this code is inspired from a w3schools demo of custom radiobuttons:
 * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
 */

.sidebar {
    grid-area: sidebar;
    background-color: #3700fe;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
}

.sidebar-radio-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.sidebar-radio-wrapper label {
    height: 2em;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.sidebar-radio-wrapper label:hover .custom-radio {
    background-color: rgba(0,0,0,0.15);
}

.sidebar-radio-wrapper input:checked ~ .custom-radio:after {
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
    background-color: #fff;
}

.sidebar-radio-wrapper .custom-radio:after {
    content: '';
    position: relative;
    border-radius: 100%;
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
}

.sidebar-radio {
    opacity: 0;
    width: 24px;
    height: 24px;

}

.custom-radio {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #3700fe;
}

.sidebar-subtitle {
    font-size: 32px;
}

.sidebar-button {
    position: absolute;
    font-size: 24px;
    height: 60px;
    width: 30px;
    border: 0;
    margin-left: 20rem;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    background-color: #3700fe;
    color: white;
}

.sidebar-button:hover {
    background-color: rgba(0,0,0,0.15);
}

.sidebar-button:focus {
    outline: none;
}

