.topbar{
    background-color:white;
    width: 100%;
    border-bottom: 0.25rem solid #3700fe;
}

.image-selector {
    height: 100%;
}

.image-selector div{
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 2.5rem;
}
.image-selector div button{
    height: 100%;
    font-weight: lighter;
    color:#3700fe;
    font-size: 20px;
    text-decoration: none;
    display:inline-block;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
}
.image-selector div button:hover{
    background-color: #3700fe;
    color:white;
}

@media only screen and (max-width: 780px) {
    .topbar{
        height:15.5rem;
    }
    .image-selector{
        margin: auto;
        width: 9rem;
    }
    .image-selector div{
        display: block;
        vertical-align: middle;
        text-align: center;
        line-height: 2.5rem;
    }
    .image-selector div a h3{
        font-weight: lighter;
    }
    .image-selector div a{
        width: 7rem;
        height: 2.5rem;
        color:#3700fe;
        text-decoration: none;
        display:block;
        padding-right: 1em;
        padding-left:1em;
    }
}