.topbar{
    background-color:white;
    width: 100%;
    border-bottom: 0.25rem solid #3700fe;
}
.image-selector div{
    vertical-align: middle;
    text-align: center;
    line-height: 2.5rem;
}
.image-selector div a h3{
    font-weight: lighter;
}
.image-selector div a{
    color:#3700fe;
    text-decoration: none;
    display:inline-block;
    padding-right: 1em;
    padding-left:1em;
}
.image-selector div a:visited{
    text-decoration: none;
    color:#3700fe;
}
.image-selector div a:hover{
    background-color: #3700fe;
    color:white;
}

@media only screen and (max-width: 780px) {
    .topbar{
        grid-area: header !important;
        padding-top:4em;
        z-index: 1;
        height: 15.5em;
    }
    .image-selector{
        margin: auto;
        width: 9rem;
    }
    .image-selector div{
        display: block;
        vertical-align: middle;
        text-align: center;
        line-height: 2.5rem;
    }
    .image-selector div a h3{
        font-weight: lighter;
    }
    .image-selector div a{
        width: 7rem;
        height: 2.5rem;
        color:#3700fe;
        text-decoration: none;
        display:block;
        padding-right: 1em;
        padding-left:1em;
    }
    .image-selector div a:visited{
        text-decoration: none;
        color:#3700fe;
    }
    .image-selector div a:hover{
        background-color: #3700fe;
        color:white;
    }
}