body {
    margin: 0;
    background-color:#f2f2f2;
    font-family: 'Roboto', 'Arial', sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
}

.grid-wrapper {
    display: grid;
    grid-template-areas: 'header header' 'topbar topbar' 'sidebar gallery' ;
    grid-template-columns: 20% auto ;
    grid-template-rows: 5rem 5em auto;
    height: 100%;
}

.header {
    grid-area: header;
}

.topbar {
    grid-area: topbar;
}

.sidebar {
    grid-area: sidebar;
}

.gallery {
    grid-area: gallery;
}
